<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="author" content="Mak5er">
    <meta name="description"
          content="Це сайт з анекдотами українською мовою. Отримайте вашу дозу гумору з смішними анекдотами.">

    <title>Анекдоти</title>
    <style>

    </style>


</head>
<body>
<div class="container">
    <div class="header">
        <h1>Анекдоти <span class="ukrainian-word">українською</span></h1>
    </div>
    <div class="joke-container">
        {{ random_joke | replace('\n', '<br>') | safe }}
    </div>
    <button class="random-button">Новий анекдот</button>
    <div class="qr-container">
        <h2>Бажаєте більше анекдотів?<br>
            Тоді <a class="telegram-link" href="https://t.me/makser_humor_bot?start=start" target="_blank">переходьте до
                телеграм бота</a>!</h2>
        <p class="scan-notice">Проскануйте або натисніть на QR-код</p>
        <a href="https://t.me/makser_humor_bot?start=start" target="_blank"><img class="qr-code"
                                                                                 src="{{ url_for('static', filename='qr-code.webp') }}"
                                                                                 alt="QR Code"></a>
        <div class="contact-us">
            <p>Хочете запропонувати анекдот <br> чи знайшли помилку?<br>
                <button class="contact-link" onclick="openModal()">Зв'язатися з нами</button>
            </p>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Ваша ідея або анекдот:</h2>
            <div class="input-container">
                <textarea id="ideaInput" rows="4" placeholder="Напишіть вашу ідею або анекдот..."></textarea>
                <span class="clear-icon" onclick="clearTextarea()">&times;</span>
            </div>
            <div class="button-container">
                <button class="modal-button cancel-button" onclick="closeModal()">Скасувати</button>
                <button class="modal-button" onclick="sendIdea()">Відправити</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var lastClickTime = 0;
    $(document).ready(function() {
        $(".random-button").click(function() {
            var currentTime = new Date().getTime();
            if (currentTime - lastClickTime >= 1000) { // Перевірка, чи пройшов 1 секунд після останнього натискання
                lastClickTime = currentTime; // Оновлюємо час останнього натискання
                $.ajax({
                    type: "POST",
                    url: "/get_random_joke",
                    success: function(data) {
                        $(".joke-container").html(data);
                    }
                });
            }
        });
    });
</script>
<script>
    // Відкриття модального вікна з анімацією
    function openModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'block';
    }

    // Закриття модального вікна з анімацією
    function closeModal() {
        var modal = document.getElementById('myModal');
        modal.classList.add('fade-out'); // Додайте клас для анімації зникання
        setTimeout(function() {
            modal.style.display = 'none';
            modal.classList.remove('fade-out'); // Видаліть клас після анімації
            var ideaInput = document.getElementById("ideaInput");
            ideaInput.value = "";
        }, 300); // Час анімації (300 мс)
    }

    // Відправка ідеї
    function sendIdea() {
        var ideaInput = document.getElementById("ideaInput");
        var idea = ideaInput.value;
        if (idea) {
            $.ajax({
              type: 'POST',
              url: '/send_idea',
              data: { idea: idea },
              success: function (response) {
                closeModal(); // Закрити модальне вікно після відправки
              },
            });
          }
        ideaInput.value = "";
        }
    // Очищення поля ідеї
    function clearTextarea() {
    var ideaInput = document.getElementById("ideaInput");
    ideaInput.value = "";
    }
</script>
</html>